// ion-content {
// --background: url('../../../assets/images/defaultBcg.jpeg') no-repeat center center fixed;
// background-size: cover;
// height: 100%;
// background-size: cover;
// height: 100%;
// }

ion-content {
  --ion-background-color: transparent !important;
}

#overlay {
  background-color: #333;
  height: 100%;
  width: 100%;
  opacity: .6;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
}

ion-checkbox {
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #fff !important;
}

ion-col {
  background: transparent;
  opacity: 1;
}

.selectedMessage {
  background-color: #fff;
}

.ion-item:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

// ion-item:first-child {
//   margin: 0px 0 8px;
// }

.belongs-to-user {
  background: #e1ffc7;
  border-radius: 13px;
  float: right;
  margin-top: .2em;
  padding: .4em;
  // margin-right: 1em;
  /* Opera 7 */
  white-space: pre-wrap;
  /* CSS3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}



/* 
<span data-testid="tail-in"data-icon="tail-in"class="_2-dPL"><svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 8 13"width="8"height="13"><path opacity=".13"fill="#0000000"d="M1.533 3.568L8 12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z"></path><path fill="currentColor"d="M1.533 2.568L8 11.193V0H2.812C1.042 0 .474 1.156 1.533 2.568z"></path></svg></span>
*/
.not-users {
  // margin-bottom: 5px;
  // // text-align: left;
  // float: left;
  // max-width: 100%;
  background: #fff;
  border-radius: 0 13px 13px 13px;
  float: left;
  padding: .4em;
  margin-top: .2em;
}

.ion-item .belong-to-user:after {
  border-width: 0px 0 10px 10px;
  // border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}



.ion-item.not-user:after {
  border-width: 0px 10px 10px 0;
  // border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

ion-item {
  padding: .1em;
}


/* for item side of first index */
// .right {
//   position: absolute;
//   top: 0;
//   z-index: 100;
//   display: block;
//   width: 8px;
//   height: 13px;
// }

.time {
  display: flex;
  font-size: smaller;
  position: absolute;
  margin-top: .1em;
  padding: 0 .1em .4em;
  right: .1em;
  bottom: 0;
}

.time ion-icon {
  font-weight: bolder;
  padding: .1em;
  font-size: 1.3em;
  margin-bottom: 2px;
}

.time-left {
  display: block;
  font-size: smaller;
  position: absolute;
  margin-top: .1em;
  padding: 0 .1em .4em;
  left: .1em;
  bottom: 0;
}

.name {
  margin: 10px;
  padding: 10px;
  display: block;
  position: absolute;
  float: right;
  top: 0;
}

.content {
  display: block;
  margin: 3px;
  min-width: 7em;
  padding: .2em;
}


.optionIcon {
  height: 1.3em;
  width: 1.3em;
  cursor: pointer;
  right: 0;
  top: 7px;
  padding: .2em;
  margin-right: .2em;
}



.replyMessage {
  background-color: #07dba6;
  padding: 5px;
  border-radius: 5px;
  border-left: #3b99be 5px solid;
}

.media-content {
  width: 300px;
  height: auto;
  padding: 2px;
  margin-bottom: .6rem;
}

.media-content img{
width: 100%;
}