<ion-content scrollbar>
  <div class="overlay"></div>
  <div *ngIf="user && messages$ | async as messages">
    <ion-item
      color="transparent"
      [hidden]="
        message.type == messageType.private && message.authorId !== user.userId
      "
      lines="none"
      class="ion-no-padding ion-item"
      *ngFor="let message of messages; index"
    >
      <ion-grid class="ion-no-padding">
        <ion-row
          (click)="select ? messageActions(message) : null"
          [ngClass]="{ selectedMessage: message.isSelected }"
        >
          <ion-col
            *ngIf="message.authorId.split('-')[0] === user.username"
            size="2"
          >
            <ion-label>
              <ion-checkbox
                item-start
                [checked]="message.isSelected"
                color="success"
                slot="start"
                *ngIf="select"
              >
              </ion-checkbox>
            </ion-label>
          </ion-col>
          <ion-col size="10">
            <div
              [id]="message.id"
              class="item"
              [ngClass]="{
                'belongs-to-user':
                  message.authorId.split('-')[0] === user.username,
                'not-users': message.authorId.split('-')[0] !== user.username
              }"
            >
              <div
                *ngIf="
                  replyMessageAuthor &&
                  replyMessageTime &&
                  message.repliedMessage
                "
                (click)="scrollToRepliedMessage(message.replyMessageId)"
                class="replyMessage"
              >
                <h4>
                  {{ replyMessageAuthor.split("-")[0] }}&nbsp;&nbsp;&nbsp;{{
                    "[" + replyMessageTime + "]"
                  }}
                </h4>
                <p>{{ message.repliedMessage | truncateText: 65 }}</p>
              </div>
              <div class="ion-text-wrap">
                <div
                  *ngIf="message.image && message.image !== ''"
                  class="media-content"
                >
                  <img crossorigin="Anonymous" [src]="message.image" />
                </div>
                <div *ngIf="message.content && message.content !== ''">
                  <p class="content">
                    {{ message.content }}
                    <span class="icon-overlay"></span>
                  </p>
                </div>
                <br />
                <div
                  [ngClass]="{
                    time: message.authorId.split('-')[0] === user.username,
                    'time-left':
                      message.authorId.split('-')[0] !== user.username
                  }"
                >
                  <ion-icon
                    (click)="openPopover($event, message)"
                    class="optionIcon"
                    color="medium"
                    name="chevron-down"
                  >
                  </ion-icon>
                  <p>
                    <time class="">{{ setTime(message.createdAt) }}</time>
                  </p>
                  <ion-icon
                    *ngIf="!message.isDelivered"
                    color="medium"
                    name="checkmark"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="message.isDelivered"
                    color="success"
                    name="checkmark-done"
                  ></ion-icon>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col
            *ngIf="message.authorId.split('-')[0] !== user.username"
            size="2"
          >
            <ion-label>
              <ion-checkbox
                item-start
                [checked]="message.isSelected"
                color="success"
                slot="end"
                *ngIf="select"
              >
              </ion-checkbox>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>
