mat-form-field {
  width: 100%;
}

ion-textarea {
  width: 90%;
  bottom: 0;
  margin: auto;
}

.replyMessage {
  background-color: #bbbbbd;
  padding: 8px;
  border-radius: 5px 5px 0 0;
}

ion-item {
  border: solid 1px #ddd;
  border-radius: 23px;
}


input {
  overflow-wrap: break-word;
}