textarea[cdktextareaautosize].mat-input-element {
  overflow: hidden;
}

ion-textarea {
  margin: auto;

  max-height: 120px;
  border: solid 1px #ddd;
  // padding: 0;
  border-radius: 23px;
  // overflow: auto;
  // padding: 5px 0;
}


#upload {
  display: none;
}

.inputs {
  margin: auto;
}

.icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_1,
.icon_2 {
  cursor: pointer;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  bottom: 1.2rem;
}


.icon_1 {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;

}

.icon {
  width: 2rem;
  height: 2rem;
  font-weight: bolder;
  position: relative;
}

input {
  overflow-wrap: break-word;
}