ion-content {
  overflow: hidden;
  height: 100%;
}

.container {
  position: relative;
  height: -moz-calc(100vh - (100px));
  height: -webkit-calc(100vh - (100px));
  width: 96%;
  margin: auto;
}

ion-label {
  pointer-events: all !important;
}

app-user-list {
  overflow-y: scroll;
}

app-message-input {
  position: fixed;
  bottom: 8px;
  width: 96%;
  margin: auto;
}

.messages {
  height: 90%;
  overflow-y: auto;
  // background: url('../../assets/images/defaultBcg.jpeg') center/center cover;
  // z-index: -1;
}

.no-conversation {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20%;
}