<div class="container">
  <mat-card>

    <div class="zoom-container">
      <h1>Join Meeting via Zoom</h1>
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input [(ngModel)]="userName" type="text" name="topic" required matInput>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" required>
      </mat-form-field>
    </div>
    <ion-button [disabled]='password === "" || userName === ""' color="primary" shape="round" class="submit"
      (click)="login()">Login</ion-button>
  </mat-card>
</div>