mat-card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
}

.zoom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

mat-form-field.mat-form-field-infix {
  width: 100%;
  margin: auto;
  padding-bottom: 2em;
}

mat-form-field {
  width: 100%;
  margin: auto;
  padding-bottom: 2em;
}

mat-form-field.mat-form-field {
  font-size: 16px;
}


input.mat-input-element {
  margin-top: -0.0625em;
  font-size: 1.2em;
}

.submit {
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}