ion-content {
  overflow: scroll;
  /* display: flex;
  flex-direction: column; */
}

/* 
app-message-input {
  position: fixed;
  height: 12%;
  bottom: 0;
  width: 100%;
  /* left: 0;
  right: 0; 
}

*/