.user-message {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  width: 100%;
}

._user {
  cursor: pointer;
}

.name-header {
  display: flex;
}

.name-header h3 {
  font-weight: bolder;
  flex: 3;
  color: #858282;
}

.name-header ion-badge {
  flex: 1;

}

.list-item {
  margin-bottom: 1rem;
}

.user-message h3,
.user-message h2 {
  padding: 0 5px;
  margin: 0;
}

.user-message small {
  margin-left: 75%;
}